@charset "utf-8";

@font-face { font-family: Vollkorn; src: local(Vollkorn-Regular), local("Vollkorn Regular"), url(./vk/Vollkorn-Regular.woff2); }
@font-face { font-family: Vollkorn; font-weight: bold; src: local(Vollkorn-Bold), local("Vollkorn Bold"), url(./vk/Vollkorn-Bold.woff2); }
@font-face { font-family: Vollkorn; font-style: italic; src: local(Vollkorn-Italic), local("Vollkorn Italic"), url(./vk/Vollkorn-Italic.woff2); }
@font-face { font-family: Vollkorn; font-weight: bold; font-style: italic; src: local(Vollkorn-BoldItalic), local("Vollkorn Bold Italic"), url(./vk/Vollkorn-BoldItalic.woff2); }

@font-face { font-family: "Vollkorn Black"; src: local(Vollkorn-Black), local("Vollkorn Black"), url(./vk/Vollkorn-Black.woff2); }
@font-face { font-family: "Vollkorn Black"; font-style: italic; src: local(Vollkorn-BlackItalic), local("Vollkorn Black Italic"), url(./vk/Vollkorn-BlackItalic.woff2); }

@font-face { font-family: Inconsolata; src: local(Inconsolata), url(./Inconsolata.woff2); }



body {
	font-family: Vollkorn, serif;
	max-width: 40em;
	margin: auto;
	padding: .5em;
	color: #333;
	font-size: 1.1em;
}

code, pre {
	font-family: Inconsolata, monospace;
	color: #611;
}

pre {
	background-color: #FFF8F8;
	border: .025em solid #CAA;
	padding: .125em .25em;
	overflow-x: auto;
}

p {
	text-align: justify;
	hyphens: auto;
	line-height: 1.6em;
}

h1 {
	font-family: "Vollkorn Black", serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	border-left: none;
	border-right: none;
	position: relative;
	text-shadow: .1em .05em 0px white, -.1em .05em 0px white, .1em -.05em 0px white, -.1em -.05em 0px white;
}

h1:before, h1:after {
	content: '';
	width: 100%;
	left: 0;
	height: .1em;
	background-color: #000;
	position: absolute;
	z-index: -1;
}

h1:before { bottom: .20em; }
h1:after { top: .05em; }

h2 {
	font-family: "Vollkorn Black";
	font-weight: normal;
	color: #111;
	position: relative;
	text-shadow: .1em .05em 0px white, -.1em .05em 0px white;
	margin-bottom: 0;
}

h2:before {
	content: '';
	width: 100%;
	left: 0;
	bottom: .3em;
	height: .05em;
	background-color: #111;
	position: absolute;
	z-index: -1;
}

a {
	color: #226;
}

ul {
	list-style-type: square;
}

blockquote {
	font-style: italic;
	position: relative;
	margin: 1em 3em;
}

blockquote:before, blockquote:after {
	display: block;
	text-align: center;
	width: 1em;
	height: 1em;
	font-size: 4em;
	color: #666;
	position: absolute;
}

blockquote:before {
	content: "“";
	top: -.35em;
	left: -1em;
}

blockquote:after {
	content: "”";
	right: -1em;
	bottom: -.35em;
}




nav {
	text-align: center;
	min-height: 4.5em;
}

nav > a#index:before { 	content: "⭡ "; }
nav > a#index:after { content: " ⭡"; }
nav > a#next:before { content: "⭠ "; }
nav > a#prev:after { content: " ⭢"; }

nav > a#prev, nav > a#next {
	font-variant: small-caps;
}

nav > a#index { display: block; }
nav > a#next { float: left; }
nav > a#prev { float: right; }



ul#index, ul#index > li > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#index > li > ul > li {
	font-variant: small-caps;
	margin: .2em 0;
}

ul#index > li > ul > li > time {
	float: right;
}

article > header > p {
	text-align: right;
	position: relative;
	top: -1.75em;
	margin: 0;
	height: 0em;
}

ul#index > li > ul > li > time, article > header > p > time {
	font-size: .8em;
	color: #666;
}

time.mtime:before { content: "✎ "; }
time.mtime:after { content: " — "; }

ul#index > li > ul > li > a:visited {
	color: #666;
}

article > p:last-of-type:after {
	content: ' ∎';
	color: #000;
}

footer {
	margin-top: 5em;
	border-top: .05em solid #666;
	color: #666;
	font-size: .8em;
}

footer a { color: #666; }

aside#author {
	border: .05em solid #333;
	margin: 1em 2em;
	padding: 0 1em;
	color: #444;
	background-color: #F4F4FF;
	font-style: italic;
}

div.footnotes {
	font-size: .8em;
	color: #444;
	margin-bottom: 5em;
}

hr {
	display: block;
	width: 100%;
	height: 0px;
	border-top: .05em solid #666;
}

::selection {
	text-shadow: none;
	color: #000;
	background-color: #CCD;
}

::-moz-selection {
	text-shadow: none;
	color: #000;
	background-color: #CCD;
}





body#imgviewer {
	padding: 0;
	max-width: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #808080;
}

body#imgviewer > input {
	display: none;
}

body#imgviewer > label > img, body#imgviewer > label > canvas {
	max-width: 100%;
	max-height: 100%;
	cursor: zoom-in;
	vertical-align: bottom;
	border-style: solid;
	border-color: #808080;
	box-sizing: border-box;
	background-color: white;

	border-width: 2em;
	padding: 1em;
}

@media (min-width: 880px) and (min-height: 880px) {
	body#imgviewer > label > img, body#imgviewer > label > canvas {
		border-width: 8em;
		padding: 4em;
	}
}

body#imgviewer > input:checked + label > img, body#imgviewer > input:checked + label > canvas {
	max-width: none;
	max-height: none;
	cursor: zoom-out;
	border: none;
	padding: 0;
}

ul#gallery {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul#gallery > li {
	display: inline-block;
	margin: .25em;
	padding: 0;
}

ul#gallery > li > a > img, ul#gallery > li > a > canvas {
	vertical-align: bottom;
}
